<!-- <<<<<<<<<<<<<<<<<<<< Single Product Details Area Start >>>>>>>>>>>>>>>>>>>>>>>>> -->
<section class="single_product_details_area section_padding_0_100">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-6">
                <div class="single_product_thumb">
                    <div id="product_details_slider" class="carousel slide" data-ride="carousel">

                        <ol class="carousel-indicators">
                            <li class="active" data-target="#product_details_slider" data-slide-to="0" [ngStyle]="{'background-image': 'url(' + this.shirtPresentation.imgShirt + ')'}">
                            </li>
                            <li data-target="#product_details_slider" data-slide-to="1" [ngStyle]="{'background-image': 'url(' + this.shirtPresentation.imgPicture + ')'}">
                            </li>
                        </ol>

                        <div class="carousel-inner">
                            <div class="carousel-item active item-car">
                                <a class="gallery_img" href="">
                                    <img class="d-block w-100" src="{{shirtPresentation.imgShirt}}" alt="First slide">
                                </a>
                            </div>
                            <div class="carousel-item item-car">
                                <a class="gallery_img" href="">
                                    <img class="d-block w-100" src="{{shirtPresentation.imgPicture}}" alt="Second slide">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <!--Heder Information Product-->
                <div class="row">
                    <div class="single_product_desc col-6 col-md-6 col-lg-6">

                        <h4 class="title">
                            <a href="#">{{shirtPresentation.titleShirt}}</a>
                        </h4>

                        <h4 class="price">{{shirtPresentation.shirtPriceSell}} R$</h4>

                        <p class="available">Disponível:
                            <span class="text-muted">No Estoque</span>
                        </p>


                        <form class="cart clearfix mb-50 d-flex">
                            <div class="reader-quantity">
                                <h6 class="price">QUANTITADE </h6>
                            </div>
                            <div class="quantity">
                                <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </span>
                                <input type="number" class="qty-text" id="qty" step="1" min="1" max="6" name="quantity" value="1" [(ngModel)]="purchase.qtdShirts">
                                <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty > 1 ) effect.value--;return false;">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div>

                            </div>
                        </form>
                    </div>
                    <div class="image-user col-6 col-md-6 col-lg-6" (click)="goToShopClient()">
                        <a>
                            <img src="{{this.userPresentation.imageUser}}" alt="">
                            <p class="widget-subtitle">Autor : {{userPresentation.nameUser}}</p>
                        </a>
                    </div>
                </div>

                <!--Cupom Area-->
                <div class="coupon-code-area mt-25">
                    <div class="cart-page-heading">
                        <h5>Cupom</h5>
                        <p>Digite seu cupom de desconto</p>
                    </div>
                    <form action="#">
                        <input type="search" name="search" placeholder="DES10" [(ngModel)]="cupom">
                        <button class="btn karl-checkout-btn" (click)="getCupom()">Ok</button>
                    </form>
                </div>

                <!--Frete Area-->
                <div class="coupon-code-area mt-25">
                    <div class="cart-page-heading">
                        <h5>Calcular Frete</h5>
                        <p>Digite seu CEP</p>
                    </div>
                    <form action="#">
                        <input type="search" name="search" placeholder="569ab15" [(ngModel)]="cep">
                        <button class="btn karl-checkout-btn" (click)="getFrete()">Frete</button>
                    </form>
                </div>
                <!--Comprar Camisa Area-->
                <div class="cart-total-area mt-30">
                    <div class="cart-page-heading">
                        <h5>Total</h5>
                        <p>Informação final</p>
                    </div>

                    <ul class="cart-total-chart">
                        <li>
                            <span>Subtotal</span>
                            <span>{{shirtPresentation.shirtPriceSell}} R$</span>
                        </li>
                        <li>
                            <span>Frete</span>
                            <span>{{purchase.priceDelivery}} R$</span>
                        </li>
                        <li>
                            <span>Cupom Desconto</span>
                            <span>{{purchase.discount}} R$</span>
                        </li>
                        <li>
                            <span>
                                <strong>Total</strong>
                            </span>
                            <span>
                                <strong>{{purchase.totalPrice}} R$</strong>
                            </span>
                        </li>
                    </ul>
                    <a href="#" class="btn karl-checkout-btn" (click)="finishBuy()">Finalizar Compra</a>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- <<<<<<<<<<<<<<<<<<<< Single Product Details Area End >>>>>>>>>>>>>>>>>>>>>>>>> -->

<!-- ****** YOUR BAG AREA ****** -->
<section class="you_may_like_area clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_heading text-center">
                    <h2>Sua Cesta</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Single gallery Item -->
            <div class="single_gallery_item col-12 col-sm-3 col-lg-3" *ngFor="let item of sliderBag">
                <!-- Product Image -->
                <div class="product-img" (click)="changeShirtBag(item)">
                    <img src="{{item.shirt.imgShirt}}" alt="">
                    <div class="product-quicview">
                        <a href="#" data-toggle="modal" data-target="#quickview">
                            <i class="ti-plus"></i>
                        </a>
                    </div>
                </div>
                <!-- Product Description -->
                <div class="product-description">
                    <h4 class="product-price">{{item.shirt.shirtPriceSell}} R$</h4>
                    <p>{{item.shirt.titleShirt}}</p>
                    <!-- COMPRAR -->
                    <div class="add-to-cart-btn" (click)="changeShirtBag(item)">COMPRAR</div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ****** Related Products Area ****** -->