<!-- <<<<<<<<<<<<<<<<<<<< Single Product Details Area Start >>>>>>>>>>>>>>>>>>>>>>>>> -->
<section class="single_product_details_area section_padding_0_100">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-6">
                <div class="single_product_thumb">
                    <div id="product_details_slider" class="carousel slide" data-ride="carousel">

                        <ol class="carousel-indicators">
                            <li class="active" data-target="#product_details_slider" data-slide-to="0" style="background-image: url(../../../assets/img/amostra-shirt/black-shirt-girl.png);">
                            </li>
                            <li data-target="#product_details_slider" data-slide-to="1" style="background-image: url(../../../assets/img/amostra-shirt/black-shirt-girl.png);">
                            </li>
                            <li data-target="#product_details_slider" data-slide-to="2" style="background-image: url(../../../assets/img/amostra-shirt/black-shirt-girl.png);">
                            </li>
                            <li data-target="#product_details_slider" data-slide-to="3" style="background-image: url(../../../assets/img/amostra-shirt/black-shirt-girl.png);">
                            </li>

                        </ol>

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a class="gallery_img" href="../../../assets/img/amostra-shirt/black-shirt-girl.png">
                                    <img class="d-block w-100" src="../../../assets/img/amostra-shirt/black-shirt-girl.png" alt="First slide">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a class="gallery_img" href="../../../assets/img/amostra-shirt/black-shirt-girl.png">
                                    <img class="d-block w-100" src="../../../assets/img/amostra-shirt/black-shirt-girl.png" alt="Second slide">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a class="gallery_img" href="../../../assets/img/amostra-shirt/black-shirt-girl.png">
                                    <img class="d-block w-100" src="../../../assets/img/amostra-shirt/black-shirt-girl.png" alt="Third slide">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a class="gallery_img" href="../../../assets/img/amostra-shirt/black-shirt-girl.png">
                                    <img class="d-block w-100" src="../../../assets/img/amostra-shirt/black-shirt-girl.png" alt="Fourth slide">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <!--Heder Information Product-->
                <div class="row">
                    <div class="single_product_desc col-6 col-md-6 col-lg-6">

                        <h4 class="title">
                            <a href="#">Long Yellow Dress</a>
                        </h4>

                        <h4 class="price">$ 39.99</h4>

                        <p class="available">Disponível:
                            <span class="text-muted">No Estoque</span>
                        </p>


                        <form class="cart clearfix mb-50 d-flex">
                            <div class="reader-quantity">
                                <h6 class="price">QUANTITADE </h6>
                            </div>
                            <div class="quantity">
                                <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </span>
                                <input type="number" class="qty-text" id="qty" step="1" min="1" max="6" name="quantity" value="1">
                                <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty > 1 ) effect.value--;return false;">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div>

                            </div>
                        </form>
                    </div>
                    <div class="image-user col-6 col-md-6 col-lg-6">
                        <a href="/client-shop"><img src="../../../assets/img/core-img/perfil.jpg" alt=""> 
                            <p class="widget-subtitle">Autor: Guilherme Melo</p>
                        </a>
                    </div>
                </div>

                <!--Cupom Area-->
                <div class="coupon-code-area mt-25">
                    <div class="cart-page-heading">
                        <h5>Cupom</h5>
                        <p>Digite seu cupom de desconto</p>
                    </div>
                    <form action="#">
                        <input type="search" name="search" placeholder="569ab15">
                        <button class="btn karl-checkout-btn">Ok</button>
                    </form>
                </div>

                <!--Frete Area-->
                <div class="coupon-code-area mt-25">
                    <div class="cart-page-heading">
                        <h5>Calcular Frete</h5>
                        <p>Digite seu CEP</p>
                    </div>
                    <form action="#">
                        <input type="search" name="search" placeholder="569ab15">
                        <button class="btn karl-checkout-btn">Frete</button>
                    </form>
                </div>
                <!--Comprar Camisa Area-->
                <div class="cart-total-area mt-30">
                    <div class="cart-page-heading">
                        <h5>Total</h5>
                        <p>Informação final</p>
                    </div>

                    <ul class="cart-total-chart">
                        <li>
                            <span>Subtotal</span>
                            <span>$59.90</span>
                        </li>
                        <li>
                            <span>Frete</span>
                            <span>Free</span>
                        </li>
                        <li>
                            <span>Cupom Desconto</span>
                            <span>Free</span>
                        </li>
                        <li>
                            <span>
                                <strong>Total</strong>
                            </span>
                            <span>
                                <strong>$59.90</strong>
                            </span>
                        </li>
                    </ul>
                    <a href="checkout.html" class="btn karl-checkout-btn">Finalizar Compra</a>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- <<<<<<<<<<<<<<<<<<<< Single Product Details Area End >>>>>>>>>>>>>>>>>>>>>>>>> -->

<!-- ****** YOUR BAG AREA ****** -->
<section class="you_may_like_area clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_heading text-center">
                    <h2>Sua Cesta</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="you_make_like_slider owl-carousel">

                    <!-- Single gallery Item -->
                    <div class="single_gallery_item">
                        <!-- Product Image -->
                        <div class="product-img">
                            <img src="../../../assets/img/amostra-shirt/black-shirt-girl.png" alt="">
                            <div class="product-quicview">
                                <a href="#" data-toggle="modal" data-target="#quickview">
                                    <i class="ti-plus"></i>
                                </a>
                            </div>
                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                            <h4 class="product-price">$39.90</h4>
                            <p>Jeans midi cocktail dress</p>
                            <!-- COMPRAR -->
                            <a href="#" class="add-to-cart-btn">COMPRAR</a>
                        </div>
                    </div>


                    <!-- Single gallery Item -->
                    <div class="single_gallery_item">
                        <!-- Product Image -->
                        <div class="product-img">
                            <img src="../../../assets/img/amostra-shirt/black-shirt-girl.png" alt="">
                            <div class="product-quicview">
                                <a href="#" data-toggle="modal" data-target="#quickview">
                                    <i class="ti-plus"></i>
                                </a>
                            </div>
                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                            <h4 class="product-price">$39.90</h4>
                            <p>Jeans midi cocktail dress</p>
                            <!-- COMPRAR -->
                            <a href="#" class="add-to-cart-btn">COMPRAR</a>
                        </div>
                    </div>


                    <!-- Single gallery Item -->
                    <div class="single_gallery_item">
                        <!-- Product Image -->
                        <div class="product-img">
                            <img src="../../../assets/img/amostra-shirt/black-shirt-girl.png" alt="">
                            <div class="product-quicview">
                                <a href="#" data-toggle="modal" data-target="#quickview">
                                    <i class="ti-plus"></i>
                                </a>
                            </div>
                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                            <h4 class="product-price">$39.90</h4>
                            <p>Jeans midi cocktail dress</p>
                            <!-- COMPRAR -->
                            <a href="#" class="add-to-cart-btn">COMPRAR</a>
                        </div>
                    </div>


                    <!-- Single gallery Item -->
                    <div class="single_gallery_item">
                        <!-- Product Image -->
                        <div class="product-img">
                            <img src="../../../assets/img/amostra-shirt/black-shirt-girl.png" alt="">
                            <div class="product-quicview">
                                <a href="#" data-toggle="modal" data-target="#quickview">
                                    <i class="ti-plus"></i>
                                </a>
                            </div>
                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                            <h4 class="product-price">$39.90</h4>
                            <p>Jeans midi cocktail dress</p>
                            <!-- COMPRAR -->
                            <a href="#" class="add-to-cart-btn"></a>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</section>

<!-- ****** Related Products Area ****** -->