.single_product_details_area{

    margin-top: 50px;
    margin-bottom: 50px;
} 


.cart-submit:hover{
    background-color: black;
}

.quantity{
    margin-left: 20px;
}

.coupon-code-area, .cart-total-area, 
.single_product_desc{
    padding-right: 4%;
    padding-left: 4%;
}

.image-user{
    cursor: pointer;
}

.image-user a img{
    width: 97px;
    height: 96px;
    border-radius: 65px;
    margin-top: 0%;
    margin-left: 80px;
}
.image-user .widget-subtitle{
    margin-left: 62px;
}

.item-car{
    height: 700px;
    max-height: 700px;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
   
     .image-user a img{
        width: 97px;
        height: 96px;
        border-radius: 65px;
        margin-top: -9px;
        margin-left: 30px;
    }
    .image-user .widget-subtitle{
        margin-left: 20px;
    }

}

@media only screen and (min-width: 300px) and (max-width: 768px) {
   
    .image-user a img{
       width: 97px;
       height: 96px;
       border-radius: 65px;
       margin-top: 33px;
       margin-left: 30px;
   }
   .image-user .widget-subtitle{
       margin-left: 20px;
   }

}