<!--Bloco do Menu Lateral-->
<div class="catagories-side-menu">
    <!-- Close Icon -->
    <div id="sideMenuClose">
        <i class="ti-close"></i>
    </div>
    <!--  Side Nav  -->
    <div class="nav-side-menu">
        <div class="menu-list">
            <div class="img-icon-menu">
                <img src="{{user.imageUser}}" alt="">
            </div>
            <h6>{{user.nameUser}}</h6>
            <div class="list-info-user">
                <ul>
                    <li><a href="client-shop">Sua Loja</a></li>
                    <li><a href="dashboard">Configurações</a></li>
                </ul>
                <button class="btn btn-sair">SAIR</button>
            </div>
        </div>
    </div>
</div>

<div id="wrapper">
    <!--Header-->
    <app-header></app-header>
    <!--End Header-->


    <!--Rotas-->
    <router-outlet></router-outlet>
    <!-- End Rotas-->


    <!-- Footer-->
    <app-footer></app-footer>
    <!-- End Footer-->
</div>