<!-- ****** Slides Area  ****** -->
<section class="">
    <div class="welcome_slides owl-carousel">
        <!-- Single Slide Start -->
        <div class="single_slide height-500 bg-img background-overlay" style="background-image: url(assets/img/core-img/slide_1.jpg); ">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="welcome_slide_text">
                            <h6 data-animation="bounceInDown" data-delay="0" data-duration="500ms">* Customize e Venda Suas Camisas</h6>
                            <h2 data-animation="fadeInUp" data-delay="500ms" data-duration="500ms">Crie Sua Loja</h2>
                            <a href="/cadastro" class="btn karl-btn" data-animation="fadeInUp" data-delay="1s" data-duration="500ms">Criar Agora</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Slide Start -->
        <div class="single_slide height-500 bg-img background-overlay" style="background-image: url(assets/img/core-img/slide_2.png);">

            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="welcome_slide_text">
                            <h6 data-animation="fadeInDown" data-delay="0" data-duration="500ms">* Promoções a Todo Momento</h6>
                            <h2 data-animation="fadeInUp" data-delay="500ms" data-duration="500ms">Visite Nossa Loja</h2>
                            <a href="/shop" class="btn karl-btn" data-animation="fadeInLeftBig" data-delay="1s" data-duration="500ms">Loja</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Slide Start -->
        <div class="single_slide height-500 bg-img background-overlay" style="background-image: url(assets/img/core-img/slide_3.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="welcome_slide_text">
                            <h6 data-animation="fadeInDown" data-delay="0" data-duration="500ms">* Customize Sua Camisa Agora</h6>
                            <h2 data-animation="bounceInDown" data-delay="500ms" data-duration="500ms"> Customize Agora </h2>
                            <a href="/customize" class="btn karl-btn" data-animation="fadeInRightBig" data-delay="1s" data-duration="500ms">Vamos Lá</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ****** End Slides Area ****** -->

<!-- ****** Quick View Modal Area Start ****** -->
<div class="modal fade" id="quickview" tabindex="-1" role="dialog" aria-labelledby="quickview" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <div class="modal-body">
                <div class="quickview_body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-5">
                                <div class="quickview_pro_img">
                                    <img src="{{shirtQuickView.imgShirt}}" alt="">
                                </div>
                            </div>
                            <div class="col-12 col-lg-7">
                                <div class="quickview_pro_des">
                                    <h4 class="title">{{shirtQuickView.titleShirt}}</h4>

                                    <h5 class="price">{{shirtQuickView.shirtPriceSell}} R$</h5>
                                </div>
                                <!-- Add to Cart Form -->
                                <form class="cart">
                                    <div class="quantity">
                                        <span class="qty-minus" onclick="">
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                        </span>

                                        <input type="number" class="qty-text" id="qty" step="1" min="1" max="12" name="quantity" value="1">

                                        <span class="qty-plus" onclick="">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <button type="submit" name="addtocart" class="cart-submit" (click)="addBagUser()">Comprar</button>
                                    <!-- Wishlist -->
                                    <div class="modal_pro_wishlist">
                                        <a href="#" target="_blank" (click)="likesShirt(shirtQuickView._id)">
                                            <i class="ti-heart"></i>
                                        </a>
                                    </div>
                                    <!-- Compare -->
                                    <div class="modal_pro_like">
                                        <span>Curtir</span>
                                        <span>{{shirtQuickView.qtdLikes}}</span>
                                    </div>
                                </form>

                                <div class="share_wf mt-30">
                                    <p>Compartilhe</p>
                                    <div class="_icon">
                                        <a href="#">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****** Quick View Modal Area End ****** -->

<!-- ****** Offer Area Start ****** -->
<section class="section-offer">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <div class="section_heading text-center">
                    <h3>CATEGORIAS POPULARES</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item-cat" (click)="filterByTag('GEEK')">
                <div class="hovereffect wow fadeIn" data-wow-delay="0.2s">
                    <img class="img-responsive" src="../../../assets/img/core-img/geek_core.jpg" alt="">
                    <div class="overlay">
                        <h2>GEEK</h2>
                        <a class="info">COMPRAR</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item-cat" (click)="filterByTag('MUSIC')">
                <div class="hovereffect wow fadeIn" data-wow-delay="0.2s">
                    <img class="img-responsive" src="../../../assets/img/core-img/music_core.jpg" alt="">
                    <div class="overlay">
                        <h2>MUSIC</h2>
                        <a class="info">COMPRAR</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item-cat" (click)="filterByTag('PET')">
                <div class="hovereffect wow fadeIn" data-wow-delay="0.2s">
                    <img class="img-responsive" src="../../../assets/img/core-img/pet_core.jpg" alt="">
                    <div class="overlay">
                        <h2>PETS</h2>
                        <a class="info">COMPRAR</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item-cat" (click)="filterByTag('PHRASE')">
                <div class="hovereffect wow fadeIn" data-wow-delay="0.2s">
                    <img class="img-responsive" src="../../../assets/img/core-img/phrases_core.jpg" alt="">
                    <div class="overlay">
                        <h2>FRASES</h2>
                        <a class="info" >COMPRAR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ****** Offer Area End ****** -->

<!-- ****** New Arrivals Area Start ****** -->
<section class="new_arrivals_area section_padding_100_0 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_heading text-center">
                    <h3>MAIS CURTIDAS</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row ">
            <!-- Single gallery Item -->
            <div class="col-12 col-sm-3 col-lg-3 single_gallery_item wow fadeIn" data-wow-delay="0.3s" *ngFor="let item of topShirtsCollection">
                <!-- Product Image -->
                <div class="product-img" (click)= "sendImageQuikcView(item)">
                    <img src={{item.imgShirt}} alt="">
                    <div class="product-quicview">
                        <a href="#" data-toggle="modal" data-target="#quickview">
                            <i class="ti-plus"></i>
                        </a>
                    </div>
                </div>
                <!-- Product Description -->
                <div class="product-description">
                    <h4 class="product-price">{{item.shirtPriceSell}} R$</h4>
                    <p>{{item.titleShirt}}</p>
                    <!-- Add to Cart -->
                    <div (click)= "sendImageQuikcView(item)" class="add-to-cart-btn" data-toggle="modal" data-target="#quickview">COMPRAR</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ****** New Arrivals Area End ****** -->

<!-- ****** Popular Brands Area Start ****** -->
<section class="karl-testimonials-area section_padding_30">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_heading text-center">
                    <h3>COMENTÁRIOS</h3>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="karl-testimonials-slides owl-carousel">

                    <!-- Single Testimonial Area -->
                    <div class="single-testimonial-area text-center">
                        <span class="quote">"</span>
                        <h6>Nunc pulvinar molestie sem id blandit. Nunc venenatis interdum mollis. Aliquam finibus nulla quam,
                            a iaculis justo finibus non. Suspendisse in fermentum nunc.Nunc pulvinar molestie sem id blandit.
                            Nunc venenatis interdum mollis. </h6>
                        <div class="testimonial-info d-flex align-items-center justify-content-center">
                            <div class="tes-thumbnail">
                                <img src="../../../assets/img/core-img/logo.png" alt="">
                            </div>
                            <div class="testi-data">
                                <p>Michelle Williams</p>
                                <span>Client, Los Angeles</span>
                            </div>
                        </div>
                    </div>

                    <!-- Single Testimonial Area -->
                    <div class="single-testimonial-area text-center">
                        <span class="quote">"</span>
                        <h6>Nunc pulvinar molestie sem id blandit. Nunc venenatis interdum mollis. Aliquam finibus nulla quam,
                            a iaculis justo finibus non. Suspendisse in fermentum nunc.Nunc pulvinar molestie sem id blandit.
                            Nunc venenatis interdum mollis. </h6>
                        <div class="testimonial-info d-flex align-items-center justify-content-center">
                            <div class="tes-thumbnail">
                                <img src="../../../assets/img/core-img/logo.png" alt="">
                            </div>
                            <div class="testi-data">
                                <p>Michelle Williams</p>
                                <span>Client, Los Angeles</span>
                            </div>
                        </div>
                    </div>

                    <!-- Single Testimonial Area -->
                    <div class="single-testimonial-area text-center">
                        <span class="quote">"</span>
                        <h6>Nunc pulvinar molestie sem id blandit. Nunc venenatis interdum mollis. Aliquam finibus nulla quam,
                            a iaculis justo finibus non. Suspendisse in fermentum nunc.Nunc pulvinar molestie sem id blandit.
                            Nunc venenatis interdum mollis. </h6>
                        <div class="testimonial-info d-flex align-items-center justify-content-center">
                            <div class="tes-thumbnail">
                                <img src="../../../assets/img/core-img/logo.png" alt="">
                            </div>
                            <div class="testi-data">
                                <p>Michelle Williams</p>
                                <span>Client, Los Angeles</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>
<!-- ****** Popular Brands Area End ****** -->