<!-- ****** Quick View Modal Area Start ****** -->
<div class="modal fade" id="quickview" tabindex="-1" role="dialog" aria-labelledby="quickview" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <div class="modal-body">
                <div class="quickview_body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-5">
                                <div class="quickview_pro_img">
                                    <img src="{{shirtQuickView.imgShirt}}" alt="">
                                </div>
                            </div>
                            <div class="col-12 col-lg-7">
                                <div class="quickview_pro_des">
                                    <h4 class="title">{{shirtQuickView.titleShirt}}</h4>

                                    <h5 class="price">{{shirtQuickView.shirtPriceSell}} R$</h5>
                                </div>
                                <!-- Add to Cart Form -->
                                <form class="cart">
                                    <div class="quantity">
                                        <span class="qty-minus" onclick="">
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                        </span>

                                        <input type="number" class="qty-text" id="qty" step="1" min="1" max="12" name="quantity" value="1">

                                        <span class="qty-plus" onclick="">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <button type="submit" name="addtocart" class="cart-submit" (click)="addBagUser()">Comprar</button>
                                    <!-- Wishlist -->
                                    <div class="modal_pro_wishlist" (click)="likesShirt(shirtQuickView._id)">
                                        <a href="#" target="_blank">
                                            <i class="ti-heart"></i>
                                        </a>
                                    </div>
                                    <!-- Compare -->
                                    <div class="modal_pro_like" >
                                        <span>Curtir</span>
                                        <span>{{shirtQuickView.qtdLikes}}</span>
                                    </div>
                                </form>

                                <div class="share_wf mt-30">
                                    <p>Compartilhe</p>
                                    <div class="_icon">
                                        <a href="#">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Shop Area *********************************-->
<section class="shop_grid_area">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3 col-lg-3 nav-left-shop scrollBox">
                <div class="sticky-top">
                    <div class="category">
                        <h6 class="mb-25">CATEGORIAS</h6>
                        <ul>
                            <li class="nav-item">
                                <img src="../../../assets/img/shop-img/pop.png" (click)= "filterByTag('GEEK')">
                                <p class="shop-subtitle">Geek</p>
                            </li>
                            <li class="nav-item">
                                <img src="../../../assets/img/shop-img/music.png" (click)= "filterByTag('MUSIC')">
                                <p class="shop-subtitle">Music</p>
                            </li>
                            <li class="nav-item">
                                <img src="../../../assets/img/shop-img/abstract.png" (click)= "filterByTag('ABSTRACT')">
                                <p class="shop-subtitle">Abstract</p>
                            </li>
                            <li class="nav-item">
                                <img src="../../../assets/img/shop-img/arts.png" (click)= "filterByTag('ART')">
                                <p class="shop-subtitle">Arts</p>
                            </li>
                            <li class="nav-item">
                                <img src="../../../assets/img/shop-img/pets.png"  (click)= "filterByTag('PET')">
                                <p class="shop-subtitle">Pets</p>
                            </li>
                            <li class="nav-item">
                                <img src="../../../assets/img/shop-img/phrases.png" (click)= "filterByTag('PHRASE')">
                                <p class="shop-subtitle">Frases</p>
                            </li>
                            <li class="nav-item">
                                <img src="../../../assets/img/shop-img/sports.png"  (click)= "filterByTag('SPORT')">
                                <p class="shop-subtitle">Esportes</p>
                            </li>
                        </ul>
                    </div>

                    <div class="widget price">
                        <h6 class="mb-25 mt-25">PREÇO - {{priceFilter}} R$ </h6>
                        <div class="widget-desc">
                            <div class="slider-range">
                                <div class="range-price ui-slider-horizontal ui-widget ui-widget-content" (click)="filterByprice()">
                                    <div class="ui-slider-range ui-widget-header"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="widget size">
                        <h6 class="mb-25 mt-30">CORES</h6>
                        <div class="widget-desc color">
                            <ul>
                                <li>
                                    <a>
                                        <img src="../../../assets/img/amostra-shirt/select-shirt-black.png" (click)="filterByColor('BLACK')">
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <img src="../../../assets/img/amostra-shirt/select-shirt-white.png" (click)="filterByColor('WHITE')">
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <img src="../../../assets/img/amostra-shirt/select-shirt-blue.png" (click)="filterByColor('BLUE')">
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <img src="../../../assets/img/amostra-shirt/select-shirt-grey.png" (click)="filterByColor('GREY')">
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <img src="../../../assets/img/amostra-shirt/select-shirt-orange.png" (click)="filterByColor('ORANGE')">
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <img src="../../../assets/img/amostra-shirt/select-shirt-red.png" (click)="filterByColor('RED')">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="widget size">
                        <h6 class="mb-25 mt-30">MODELOS</h6>
                        <div class="widget-desc">
                            <ul>
                                <li (click)="changeShirt('MAN','WHITE')">
                                    <a>
                                        <img src="assets/img/amostra-shirt/icon-man.png" (click)="filterByModel('MAN')">
                                    </a>
                                </li>
                                <li (click)="changeShirt('GIRL','WHITE')">
                                    <a>
                                        <img src="assets/img/amostra-shirt/icon-girl.png" (click)="filterByModel('GIRL')">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="search-field">
                        <h6 class="mb-25 mt-30">PROCURAR</h6>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Digite aqui" [(ngModel)]="stringFilter">
                            <span class="input-group-btn">
                                <button class="btn button-search" type="button" (click)="filterByString()" >GO</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-9 col-lg-9 shirts-shop">
                <div class="shop_grid_product_area">
                    <div class="row">

                        <!-- Single gallery Item -->
                        <div class="col-12 col-sm-6 col-lg-4 single_gallery_item wow fadeIn" data-wow-delay="0.3s" *ngFor="let item of collectionShirt | paginate: { itemsPerPage: 12, currentPage: p }">
                            <!-- Product Image -->
                            <div class="product-img" (click)= "sendImageQuikcView(item)">
                                <img src={{item.imgShirt}} alt="">
                                <div class="product-quicview">
                                    <a href="#" data-toggle="modal" data-target="#quickview">
                                        <i class="ti-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- Product Description -->
                            <div class="product-description">
                                <h4 class="product-price">{{item.shirtPriceSell}} R$</h4>
                                <p>{{item.titleShirt}}</p>
                                <!-- Add to Cart -->
                                <div (click)= "sendImageQuikcView(item)" class="add-to-cart-btn" data-toggle="modal" data-target="#quickview">COMPRAR</div>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="shop_pagination_area wow fadeInUp" data-wow-delay="0.2s">
                    <!--Button Pagination-->
                    <div (click)="pageUp()">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Shop Area *********************************-->