.button-search{
    background-color: #ff596f;
}

.button-search{

    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.button-search:hover,
.button-search:focus{
    background-color: #3a3a3a;
    color: #fff;
}

.nav-item{
    width: 20%;
    height: 20%;
    margin-left: 10px;
    text-align: center;
    cursor: pointer;
}

.nav-item :hover {
    padding: 2%;
}

.nav-item img{  
    width: 100%;
    height: 100%;
}


.widget.size .widget-desc a {
    font-size: 12px;
    padding: 0;
    width: 35px;
    height: 45px;
    font-weight: 700;
    line-height: 33px;
    border-radius: 35%;
    cursor: pointer;
}

.widget.size .widget-desc a:hover {
    padding: 7%;
    background-color: aliceblue;
}

.nav-left-shop{
    border-right: 2px solid #ebebeb;
}

.shop-subtitle {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.category{
    border-bottom: 2px solid #ebebeb;
    padding-bottom: 22px;
    text-align: center;
}

.search-field{
    border-bottom: 2px solid #ebebeb;
    padding-bottom: 45px;
    text-align: center;
}

.category ul li {

    display: inline-block;

}

.shop_grid_product_area{
    text-align: center;
}

.widget{
    text-align: center;
}
.search-content{
    padding-top: 6%;
    padding-left: 3%;
}

.search-content button{
    width: 50px;
}

.filter-color, .filter-price, .search-content {
    padding: 0 2% 0 2%; 
}

.shop_pagination_area{
    text-align: center;
}

@media only screen and (min-width: 300px) and (max-width: 768px) {
            /* Box styles */
        .scrollBox {
            overflow-y: scroll;
            height: 300px;
        }

        /* Scrollbar styles */
        ::-webkit-scrollbar {
            width: 6px;
            height: 12px;
        }

        ::-webkit-scrollbar-track {
            border: 1px solid black;
            border-radius: 5px;
        }

        ::-webkit-scrollbar-thumb {
            background: black;  
            border-radius: 5px;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: #92b0b3;  
        }

                
        .widget.size .widget-desc a {
            font-size: 12px;
            padding: 0;
            width: 50px;
            height: 45px;
            font-weight: 700;
            line-height: 33px;
            border-radius: 35%;
            cursor: pointer;
        }

}

