
  <!-- ****** Checkout Area Start ****** -->
  <div class="checkout_area section_padding_100">
    <div class="container">
        <div class="row">

            <div class="checkout_details b-t col-12 col-md-6">
                <div class="checkout_details_area mt-20 clearfix">
  
                    <div class="cart-page-heading">
                        <h5>FAÇA SEU CADASTRO</h5>
                        <p>Cadastre-se e Monte sua Loja .</p>
                    </div>

                    <form data-toggle="validator" role="form">
                        <div class="row">
                            <div class="form-group col-12 mb-3">
                                <label for="nome_usuario">Nome do Usuário <span>*</span></label>
                                <input type="text" class="form-control" id="nome_usuario" placeholder="Digite seu Nome" required >
                            </div>
                              
                            <div class="form-group col-12 mb-3">     
                              <label for="inputEmail" class="control-label">Email <span>*</span></label>
                              <input type="email" class="form-control" id="inputEmail" placeholder="Email" data-error="Digite um Email Válido" required>
                              <div class="help-block with-errors"></div>
                            </div>
                            
                            <div class="form-group col-12 mb-3">
                              <label for="inputPassword" class="control-label">Senha <span>*</span></label>
                              <input type="password" data-minlength="6" class="form-control" id="inputPassword" placeholder="Password" required>
                              <div class="help-block">Mínimo 6 caracteres</div>
                            </div>

                            <div class="form-group col-12 mb-3">
                              <button type="submit" class="btn button-cadastro mt-30">Cadastrar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!--End Cadastro-->
            </div>


            <div class="checkout_details  b-t col-12 col-md-6">
                    <div class="checkout_details_area mt-20 clearfix">
  
                            <div class="cart-page-heading">
                                <h5>Login</h5>
                                <p>Faça o Login e Acesse sua Loja.</p>
                            </div>
        
                            <form data-toggle="validator" role="form">
                                <div class="row">
                    
                                    <div class="form-group col-12 mb-3">     
                                      <label for="inputEmail" class="control-label">Email <span>*</span></label>
                                      <input type="email" class="form-control" id="inputEmailLogin" placeholder="Email" data-error="Digite um Email Válido" required>
                                      <div class="help-block with-errors"></div>
                                    </div>
                                    
                                    <div class="form-group col-12 mb-3">
                                      <label for="inputPassword" class="control-label">Senha <span>*</span></label>
                                      <input type="password" data-minlength="6" class="form-control" id="inputPasswordLogin" placeholder="Password" required>
                                    </div>
        
                                    <div class="form-group col-12 mb-3">
                                      <button type="submit" class="btn button-cadastro mt-30"> Login </button>
                                    </div>
        
                                    <div class=" form-group col-12 mb-3 ">
                                        <div class="separator">
                                            <span>OU</span>
                                        </div>
                                        <button type="submit" class="btn button-facebook mt-30"> 
                                          <img src="/img/core-img/facebook-svg.svg"  class="img_button">
                                          Login com Facebook
                                        </button>
                                      </div>
                                </div>
                            </form>
                        </div>
                        <!--End  Login-->
            </div>

        </div>
    </div>
</div>
<!-- ****** Checkout Area End ****** -->
